# Ignore artifacts:
# **/node_modules
# **/static
# **/dist
# **/lib
# **/lib-es5
# **/sanity
# **/presets
# **/.next
# **/out
dist
node_modules
.next
prettier.config.js
**/src/components/shared/LiveAgentCHAT.tsx