/*
// .about-us
*/
@import '../variables';
@import '../functions';
@import '../mixins/direction';

.about-us {
}
.about-us__image {
    background-size: cover;
    background-position: bottom center;
    height: 375px;
    padding-top: 300px;
}
.about-us__body {
    background: #fff4;
    min-height: 380px;
    border-radius: 4px 4px 0 0;
    padding: 5px 80px 45px;
}
.about-us__title {
    text-align: left;
    margin-left: 30px;
    margin-bottom: 5px;
    color: white;
    vertical-align: bottom;
    font-size: 26px;
}

.about-us__subtitle {
    text-align: left;
    margin-left: 30px;
    color: white;
    font-weight: 400;
}

.about-us__text {
    text-align: left;
}
.about-us__team {
    margin-top: 45px;
    text-align: center;
}
.about-us__team-subtitle {
    margin-top: 24px;
}

.about-us__team-title {
    // color: #00243f;
}


.about-us__teammates {
    margin-top: 42px;
}

.about-us__banner {
    margin-top: 20px;
}

.about-us__teammembers-title {
    text-align: left;
    margin-bottom: 30px;
}

.about-us__team_name-title {
    text-align: left;
    margin-left: 30px;
    font-size: 20px;
}

.about-us__team_name {
    cursor: pointer;

    svg {
        position: absolute;
        margin-top: -23px;
        margin-right: 15px;

        @include direction {
            #{$inset-inline-end}: $local-button-padding - 3px;
        }
    }
}

.about-us__team_name.selected {
    background-color: #e6e6e6;
}

.teamview__member {
    text-align: left;
    font-size: 16px;
}

.teamviewcontainer {
    border: 1px solid #e6e6e6;
    padding: 20px;
}

.teamnamescontainer {
    margin-bottom: 30px;
}

.about-us__banner-img {
    height: 275px;
    background-size: cover;
    background-color: #00243f;
}

.about-us__banner-img-overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    padding: 15px;
}

.about-us__banner-img-overlay-title {
    color: white;
    margin-bottom: 20px;
    font-size: 24px;
}

.about-us__banner-img-overlay-text {
    color: white;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    bottom: 5px;
    width: 85%;
    line-height: 22px;
}

.teammates {
    $local-dot-size: 12px;

    .slick-dots {
        width: auto;
        position: static;
        padding: 0;
        font-size: 0;
        list-style: none;
        margin: 20px 0 0;

        li {
            display: inline-block;
            padding: 6px;
        }

        button {
            width: $local-dot-size;
            height: $local-dot-size;
            padding: 0;
            border: none;
            border-radius: $local-dot-size * 0.5;
            background: $block-slideshow-dot-default-color;

            &:focus {
                outline: none;
            }

            &:hover {
                background: $block-slideshow-dot-hover-color;
            }
        }
        .slick-active button {
            background: $block-slideshow-dot-active-color;
        }
    }

    @media (min-width: breakpoint(lg-start)) {
        .slick-list {
            margin: 0 -16px;
        }
        .slick-slide {
            padding: 0 16px;
        }
    }
    @media (min-width: 380px) and (max-width: breakpoint(md-end)) {
        .slick-list {
            margin: 0 -12px;
        }
        .slick-slide {
            padding: 0 12px;
        }
    }
}

.teammate {
    vertical-align: middle;
}
.teammate__avatar {
    justify-content: center;
    align-items: center;
    display: flex;
    img {
        object-fit: contain;
        width: 210px;
        height: 210px;
        max-width: 100%;
        border-radius: 2px;
    }
}
.teammate__name {
    font-size: 18px;
    font-weight: $font-weight-medium;
    margin-top: 16px;
}
.teammate__position {
    font-size: 14px;
}

@media (max-width: breakpoint(md-end)) and (min-width: breakpoint(md-start)) {
    .about-us__image {
        height: 270px;
        padding-top: 200px;
    }
    .about-us__title {
        // margin-bottom: 36px;
    }
    .about-us__body {
        padding: 50px;
    }
    .about-us__team {
        margin-top: 45px;
    }
}
@media (max-width: breakpoint(sm-end)) and (min-width: breakpoint(sm-start)) {
    .about-us__image {
        height: 280px;
        padding-top: 200px;
        font-size: 16px;
    }
    .about-us__title {
        font-size: 26px;
        // margin-bottom: 24px;
    }
    .about-us__subtitle {
        // font-size: 26px;
        // margin-bottom: 24px;
    }
    .about-us__body {
        min-height: 290px;
        padding: 40px;
    }
    .about-us__team {
        margin-top: 30px;
    }
}
@media (max-width: breakpoint(sm-end)) {
    .about-us__image {
        height: 160px;
        padding-top: 110px;
        font-size: 15px;
    }
    .about-us__body {
        min-height: 290px;
        padding: 30px 24px;
    }
    .about-us__title {
        font-size: 18px;
        margin-left: 15px;
        // margin-bottom: 20px;
    }
    .about-us__subtitle {
        font-size: 13px;
        margin-left: 15px;
        // margin-bottom: 20px;
    }
    .about-us__team {
        margin-top: 30px;
    }
}
